@media only screen and (min-device-width: 320px) {
  * {
    box-sizing: border-box;
  }

  html, body, #__next {
    background-color: black;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  video {
    width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #book_button {
    position: fixed;
    margin-bottom: 100px;
    background-color: steelblue;
    color: white;
    padding: 10px 80px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 60px;
    opacity: 60%;
  }

  #homeModalBtn {
    background: none;
  }


  #bottom-nav {
    position: fixed;
    bottom: 6px;
    width: 100%;
    text-align: center;
    /* list-style-type: none; */
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #bottom-nav ul li img {
    height: 40px;
    width: 40px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  #homeModalBtn {
    color: red;
    margin: 0;
    padding: 0;
    width: 20%;
    border: none;
    font-size: 1em;
  }

  #closeModalBtn {
    position: fixed;
    top: 20px;
    right: 0px;
    background: none;
    color: red;
    margin: 0;
    padding: 0;
    width: 20%;
    border: none;
    font-size: 1em;
  }

  #booking_header {
    text-align: center;
    margin: 12px 0px;
  }

  #booking_header > * {
    display: inline;
  }
 
  h2 {
    color: white;
    padding: 0;
    margin: 0;
    width: 40%;
  }

  .venue_details {
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    width: 90%;
  }

  .backup-venue-inputs {
    background-color: rgba(169, 169, 169, 0.1);
  }

  .venue-inputs {
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(169, 169, 169, 0.1);
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    margin: 5px 0px;
    padding: 8px 6px;
  }

  .venue-inputs:focus {
    border: none;
    outline: none;
  }

  label {
    width: 50%;
  }

  .react-datepicker-wrapper {
    width: 40%;
  }

  #timeContainer {
    width: 40%;
  }

  #contactInput {
    display: none;
  }

  #feeInput {
    display: none;
  }

  #below_venue {
    display: none;
  }

  label {
    position: relative;
    z-index: 1;
    color: grey;
  }

  .dateContainer {
    position: relative;
    width: 50%;
    right: 0px;
    background-color: grey;
    border: none;
    border: 1px solid white;
  }

  .date-container {
    position: relative;
    margin: 12px 0px;
  }

  .time-container {
    display: inline;
  }

  .time-drops {
    width: 80%;
  }

  .time-drops select {
    position: relative;
    left: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    color: grey;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(169, 169, 169, 0.1);
    margin: 4px 4px;
  }

  symbol {
    position: relative;
    left: 16px;
    color: grey;
  }

  .timeContainer {
  position: relative;
  width: 50%;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  border: 1px solid white;
  border-radius: 20px;
  }

  .react-datepicker__input-container input {
    position: relative;
    left: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(169, 169, 169, 0.1);
    border: none;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 6px;
    color: grey;
    text-align: center;
    width: 130px;
  }

  #dropDowns {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    align-items: center;
  }

  #dropDowns select {
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    color: grey;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(169, 169, 169, 0.1);
    margin: 8px 0px;
    padding: 10px;
  }

  .show-details {
    display: none;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(169, 169, 169, 0.1);
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    margin: 5px 0px;
    padding: 8px 0px 8px 4px;
    width: 90%;
  }

  #additional-details {
    display: flex;
    color: grey;
    margin: auto;
    width: 90%;
    border: 1px solid grey;
    border-radius: 3px;
    height: 120px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(169, 169, 169, 0.1);
  }

  #additional-details::placeholder {
    color: grey;
  }

  button {
    display: flex;
    margin: 12px auto;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
  }

  #successBanner {
    display: none;
  }

  .successBanner {
    /* display: flex;
    align-items: center; */
    margin: 200px 0px;
    text-align: center;
    color: white;
  }

  .successBanner p {
    font-size: 24px;
    /* width: 50%; */
    /* margin: 240px auto 0px auto; */
  }

  #closeBanner {
    background-color: red;
    color: white;
  }

  #error-banner {
    /* height: 10px; */
  }

  #error-message {
    color: red;
    margin: 0px;
    text-align: center;
  }

  .formError {
    border: 1px solid red;
  }

  /* input:invalid {
    border: 1px solid red;
  } */

  /* video::-webkit-media-controls {
    opacity: 1 !important;
    visibility: visible !important;
  } */
  
}

@media only screen and (min-device-width: 768px) {
  #modal-container {
    width: 80%;
    margin: auto;
  }

  #closeModalBtn {
    position: fixed;
    right: 80px;
  }

  .venue_details {

  }

  .venue-inputs {
    background-color: rgba(169, 169, 169, 0.1);
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    margin: 12px 0px;
    padding: 12px 8px;
    font-size: 24px;
  }

  label {
    font-size: 24px;
  }

  .react-datepicker__input-container input {
    font-size: 24px;
    margin: 12px 0px;
    padding: 12px 8px;
    width: 200px;
  }

  .time-drops select {
    font-size: 24px;
    margin: 12px 6px;
    padding: 12px 8px;
  }

  #dropDowns select {
    margin: 12px 0px;
    padding: 12px 8px;
    font-size: 24px;
  }

  #additional-details {
    font-size: 24px;
    height: 300px;
  }

  .show-details {
    margin: 12px 0px;
    padding: 12px 8px;
    font-size: 24px;
  }

  #submit-form {
    font-size: 24px;
    margin-top: 20px;
  }

  .successBanner {
    margin: 500px 0px;
    text-align: center;
  }

  .successBanner p {
    font-size: 40px;
  }

  .successBanner button {
    font-size: 32px;
  }

}

@media only screen and (min-device-width: 1100px) {
  * {
    box-sizing: border-box;
  }

  html, body, #__next {
    background-color: black;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  video {
    max-width: 100vw;  /* Video will not be wider than the viewport */
    max-height: 100vh; /* Video will not be taller than the viewport */
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto; /* Center the video horizontally */
    object-fit: contain; /* Maintain aspect ratio */
  }


  #empty-mic {
    display: none;
  }

  .content {

  }

  #modal-container {
    width: 40%;
    margin: auto;
  }

  #book_button {
    position: fixed;
    margin-bottom: 300px;
  }

  button {
    background-color: steelblue;
    color: white;
    padding: 10px 100px;
    font-size: 42px;
    border: 1px solid white;
    border-radius: 60px;
    opacity: 60%;
    cursor: pointer;
  }

  #bottom-nav {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 35%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #bottom-nav ul li img {
    height: 50px;
    width: 50px;
  }

  #booking_header {
    margin: 16px;
  }

  

  #submit-form {
    background-color: blue;
    color: white;
    font-size: 42px;
    border: none;
    border-radius: 60px;
    opacity: 60%;
    cursor: pointer;
  }

  #closeModalBtn {
    position: fixed;
    top: 24px;
    right: 230px;
    font-weight: bold;
  }

  .venue-inputs {
    padding: 0px;
    font-size: 18px;
  }

  .date-container {
    margin: 2px;
  }

  .react-datepicker__input-container input {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }

  .time-drops {
    width: 100%;
  }

  .time-drops select {
    margin: 2pxpx 4px;
    padding: 0px;
    font-size: 20px;
  }

  #dropDowns select {
    padding: 0px;
    margin: 8px;
    font-size: 18px;
  }

  .show-details {
    padding: 0px;
    font-size: 18px;
  }

  #additional-details {
    height: 200px;
    font-size: 18px;
  }

  #submit-form {
    font-size: 24px;
  }

  .successBanner {
    margin: 300px 0px;
  }

  .successBanner button {

  }
}