@media only screen and (min-device-width: 320px) {

  * {
    box-sizing: border-box;
  }

  body {
    background-color: black;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  input, text {
    outline: none;
    padding-left: 10px;
  }

  /* input::placeholder {
    position: relative;
    left: 8px;
  } */



  #error {
    position: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: red;
    height: 24px;
    /* display: inline-block;
    left: 200px; */
  }

  #close-button {
    position: relative;
    top: 2px;
    left: 10px;
    width: 20px;
    height: 20px;
    display: inline;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
  }

  .hidden {
    display: none !important;
  }

  h3 {
    margin: 0;
    padding-left: 8px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 8px;
    padding: 0;
  }

  #main-nav {
    position: fixed;
    width: 100%;
    height: 42px;
    background: #4CAF50;
    color: white;
  }

  #welcome-banner {
    text-align: center;
    margin-top: 8px;
  }

  #bottom-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: rgb(30, 28, 28);
    color: white;
  }

  #bottom-nav__profile {
    position: fixed;
    right: 8px;
    width: 20%;
  }

  #megajon-icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 3px;
    left: 100px;
  }

  #bottom-nav__profile li {
    position: fixed;
    right: 0px;
  }

  /* #bottom-nav ul li {
    display: inline-block;
    list-style: none;
    width: 4px;
    height: 4px;
    margin: 8px 24px;
  } */

  #bottom-nav ul li img {
    height: 30px;
    width: 30px;
  }


  #main-nav-backing {
    width: 100%;
    height: 42px;
  }

  #main-content {
    color: white;
    height: 100%;
  }

  video {
    width: 100%;
  }

  .comedy-set {
    width: 96%;
    padding: 12px 0px 12px 0px;
    margin: 10px auto 0px auto;
    background-color: rgb(30, 28, 28);
    border-radius: 1%;
  }

  #subscribe-container {
    position: relative;
    left: 2px;
    display: inline;
    margin: 10px;
    /* bottom: 12px; */
  }

  .subscribe-error {
    color: white;
    text-align: center;
  }

  #subscribeError {
    color: white;
  }

  #errorText {
    color: transparent;
    position: relative;
    margin-bottom: 10px;
  }

  #unsubscribe-container {
    position: relative;
    text-align: center;
    top: 200px;
  }

  #unsubscribe-input {
    width: 80%;
    height: 36px;
    border-radius: 50px;
    padding-left: 10px;
  }

  #unsubscribe-button {
    margin-top: 10px;
    width: 40%;
    height: 28px;
    border-radius: 50px;
    background-color: orange;
    color: white;
    border: none;
  }

  #unsubscribe-message {
    color: white;
  }

  /* .unsubscribe-error {
    color: white;
  } */

  .email-input {
    width: 80%;
    height: 100%;
    /* padding: 5px; */
    /* margin-right: 5px; */
    border-radius: 10px;
    border: 1px solid black;
  }

  .subscribe-button {
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 19%;
    background-color: #4CAF50;
  }

  #airplane {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }



  /* #form-container {
    position: relative;
    background-color: white;
    border-radius: 50px;
    width: 96%;
    margin: auto;
    height: 25px;
  } */

  /* #s-form {
    width: 196px;
  } */

  /* #s-form {
    width: 10px;
  } */

  
  #email {
    -webkit-appearance: none;
    position: relative;
    /* width: fit-content; */
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 0;
  }

  #s-button {
    position: relative;
    width: 20%;
    height: 100%;
    border: none;
    /* border-radius: 50px; */
    color: white;
    background-color: #4CAF50;
  }

  /* #subscribe-container {
    position: relative;
    background-color: white;
  } */

  #subscribe-form {
    width: 100%;
    /* position: relative;
    width: fit-content; */
  }

  #subscribe-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  #subscribeForm {
    position: relative;
    display: inline;
    width: 100%;
    height: 100%;
  }

  /* .input {
    background-color: #303245;
  } */

  .email-input {
    margin-bottom: 10px;
  }

  .unsubscribe-error {
    color: white;
  }

  /* #profile-section {
    background: black;
    width: 100%;
    z-index: 1;
    position: fixed;
    height: 2000px;
  }
  
  @keyframes slideProfileUp {
    from {
      top: 100%;
    } to {
      top: 0px;
    }
  }
  
  @keyframes slideProfileDown {
    from {
      top: 0;
    } to {
      top: 100%;
    }
  }
  
  .profile-slideUp {
    animation-duration:  0.3s;
    animation-fill-mode: forwards;
    animation-name: slideProfileUp;
  }
  
  .profile-slideDown {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: slideProfileDown;
  } */
}

@media only screen and (min-device-width: 768px) {
  body {
    background-color: whitesmoke;
    margin: 0;
  }

  h3 {
    position: relative;
    top: 8px;
    /* margin: 0;
    padding-left: 2px; */
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #main-nav {
    background-color: #dfe3ee;
    width: 60%;
    height: 50px;
  }

  #main-nav-backing {
    background: #dfe3ee;
    height: 50px;
  }

  #subscribeForm {
    position: relative;
    top: 4px;
    left: 300px;
  }

  #email {
    height: 80%;
    border-radius: 50px;
  }

  #s-button {
    height: 80%;
    border-radius: 50px;
  }

  #bottom-nav {
    position: fixed;
    top: 0px;
    width: 36%;
    height: 50px;
    background: #dfe3ee;
    color: white;
  }

  #bottom-nav ul {
    position: relative;
    top: 8px;
  }

  #main-content {
    position: relative;
    width: 80%;
    margin: 0px auto;
  }

  .comedy-set {
    /* display: inline-block; */
    color: black;
    background-color: #dfe3ee;;
    margin: 20px;
    padding: 32px 0px 32px 0px;
    border-radius: 2%;
  }

  #error {
    position: relative;
    /* display: inline-block;
    left: 30px;
    bottom: 6px; */
  }
}

@media only screen and (min-device-width: 1200px) {
  body {
    background-color: white;
    margin: 0;
  }

  #main-nav {
    position: fixed;
    right: 0px;
    background-color: #dfe3ee;
    width: 100%;
    height: 50px;
  }

  #bottom-nav {
    position: fixed;
    top: 0px;
    width: 25%;
    height: 50px;
    background: #dfe3ee;
    color: white;
  }

  #bottom-nav ul {
    position: relative;
    top: 10px;
  }

  #subscribeForm {
    position: relative;
    top: 6px;
    left: 400px;
    display: inline;
  }

  #email {
    position: relative;
    width: 25%;
    height: 66%;
    border: none;
    border-radius: 50px;
  }

  #s-button {
    position: relative;
    left: 1px;
    height: 70%;
    width: 6%;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #4CAF50;
  }

  #welcome-banner {
    color: #4CAF50;
  }

  #main-content {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
  }

  .comedy-set {
    display: inline-block;
    background-color: #dfe3ee;
    color: black;
    width: 40%;
  }

  #subscribe-container {
    position: relative;
    left: 30px;
    display: inline;
    bottom: 12px;
  }

  .subscribe-error {
    color: red;
  }

  .unsubscribe-error {
    color: red;
  }

  .email-input {
    width: 200px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .subscribe-button {
    border: 1px solid black;
    border-radius: 5px;
  }

  input:invalid {
    border: 1px solid red;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen)
  }

  #subscribe-container {
    width: 25%;
  }
}