@media only screen and (min-device-width: 320px) {
  body {
    background-color: black;
    margin: 0;
  }

  h3 {
    margin: 0;
    padding-left: 8px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #main-nav {
    position: fixed;
    width: 100%;
    height: 36px;
    background: rgb(30, 28, 28);
    color: white;
  }

  #main-nav ul {
    display: inline-block;
  }

  #main-nav__icons {
    /* width: 68%; */
  }

  #main-nav__profile {
    position: fixed;
    right: 8px;
    width: 20%;
  }

  #megajon-icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 3px;
    left: 100px;
  }

  #main-nav__profile li {
    position: fixed;
    right: 0px;
  }

  #main-nav ul li {
    display: inline-block;
    list-style: none;
    width: 4px;
    height: 4px;
    margin: 8px 12px;
  }

  #main-nav ul li img {
    height: 20px;
    width: 20px;
  }

  #megajon-icon {
    position: relative;
  }

  #main-nav-backing {
    width: 100%;
    height: 50px;
  }

  #main-content {
    color: white;
    height: 100%;
  }

  video {
    width: 100%;
  }

  .comedy-set {
    width: 96%;
    padding: 12px 0px 12px 0px;
    margin: 10px auto 0px auto;
    background-color: rgb(30, 28, 28);
    border-radius: 1%;
  }

  #unsubscribe-container {
    position: relative;
    text-align: center;
    top: 225px;
  }

  form {
    display: inline;
  }

  .input {
    background-color: #303245;
  }

  .email-input {
    margin-bottom: 10px;
  }

  .unsubscribe-error {
    color: white;
  }

  /* #profile-section {
    background: black;
    width: 100%;
    z-index: 1;
    position: fixed;
    height: 2000px;
  }
  
  @keyframes slideProfileUp {
    from {
      top: 100%;
    } to {
      top: 0px;
    }
  }
  
  @keyframes slideProfileDown {
    from {
      top: 0;
    } to {
      top: 100%;
    }
  }
  
  .profile-slideUp {
    animation-duration:  0.3s;
    animation-fill-mode: forwards;
    animation-name: slideProfileUp;
  }
  
  .profile-slideDown {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: slideProfileDown;
  } */
}

@media only screen and (min-device-width: 768px) {
  body {
    background-color: black;
    margin: 0;
  }

  h3 {
    position: relative;
    top: 8px;
    /* margin: 0;
    padding-left: 2px; */
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #main-nav {
    background-color: rgb(30, 28, 28);
  }

  #main-content {
    position: relative;
    width: 80%;
    margin: 0px auto;
  }

  .comedy-set {
    /* display: inline-block; */
    color: white;
    background-color: rgb(30, 28, 28);
    margin: 20px;
    padding: 32px 0px 32px 0px;
    border-radius: 2%;
  }
}

@media only screen and (min-device-width: 1200px) {
  body {
    background-color: white;
    margin: 0;
  }

  #main-nav {
    background-color: #dfe3ee;
  }

  #main-content {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
  }

  .comedy-set {
    display: inline-block;
    background-color: #dfe3ee;
    color: black;
    width: 40%;
  }

  #subscribe-container {
    position: relative;
    left: 30px;
    display: inline;
    bottom: 12px;
  }

  .subscribe-error {
    color: red;
  }

  .unsubscribe-error {
    color: red;
  }

  .email-input {
    width: 200px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .subscribe-button {
    border: 1px solid black;
    border-radius: 5px;
  }

  input:invalid {
    border: 1px solid red;
  }

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen)
  }

  #subscribe-container {
    width: 25%;
  }
}